header{
    text-align: center;
    background-color: seagreen;
   

}
.logo{
    width: 120px;    
    height: auto;  
    border-radius: 10px;
}

div1{
    text-align: center;

}

body{
    background-color: cornflowerblue;
}